{% extends 'WOMainBundle::admin.html.twig' %}
{% block body -%}
    <h1>Anwendungen und Angebote</h1>
    <ul>
        <li>
            <a href="{{ path('admin_service_new') }}">
                Neue Anwedung hinzufügen
            </a>
        </li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li>
            <a href="{{ path("admin_servicecategory") }}" class="">Anwendungskategorien verwalten</a>
        </li>
        {% endif %}
    </ul>
    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abkürzung</th>
                <th>Preis</th>
                <th>Beschreibung</th>
                <th>Dauer</th>
                <th>Sichtbar</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_service_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.shortname }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.duration }}</td>
                {% if entity.getShowOnline %}
                    <td>Ja</td>
                {% else %}
                    <td>Nein</td>
                {% endif %}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_service_show', { 'id': entity.id }) }}">zeigen</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_service_edit', { 'id': entity.id }) }}">editieren</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
