{% extends 'WOMainBundle::admin.html.twig' %}
{% block body -%}
    <h1>Anwedung</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Abkürzung</th>
                <td>{{ entity.shortname }}</td>
            </tr>
            <tr>
                <th>Preis</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Beschreibung</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Dauer</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>In Glowe verfügbar</th>
                {% if entity.isGlowe %}
                    <td>Ja</td>
                {% else %}
                    <td>Nein</td>
                {% endif %}
            </tr>
            <tr>
                <th>Auf Webseite sichtbar</th>
                {% if entity.getShowOnline %}
                    <td>Ja</td>
                {% else %}
                    <td>Nein</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_service') }}">
            Zurück zur Liste
        </a>
    </li>
    <li>
        <a href="{{ path('admin_service_edit', { 'id': entity.id }) }}">
            Editieren
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
